@import '../theme/colors'

.LatestNews-container
  height: 1486.45px
  // background: red

  .LatestNews-heading
    display: inline-block
    height: 91.3px
    background: $theme-pink
    font-size: 76px
    margin-top: 98px
    margin-left: 93.79px
    text-transform: uppercase

  .LatestNews-cards-row
    column-gap: 50.7px
    padding-left: 83px